<footer>
<div class="fh5co-overlay w3-container " style="background-color:#323a45;color:#878c93;bottom:0px;">
<div class="w3-content" style="max-width:1035px;">

<div class="row">


<div class="w3-col l4 m4 s6 onecolumn-footer w3-margin-top" >
<h3 class="fh5co-lead" style="color:#778899;font-size:25px;text-transform: capitalize;">à propos</h3>
<div style="margin-left: -24px;">
<ul>
<li><a href="apropos" style="color:#878c93;">Qui nous sommes</a></li>
<li><a href="securite" style="color:#878c93;">Sécurité</a></li>
</ul>
</div>
</div>



<div class="w3-col l4 m4 s6" >

<h3 class="fh5co-lead w3-margin-top" style="color:#778899;">Nous contacter</h3>
<div class="ist" style="margin-left:-22px;" >
<ul>
<li><a href="contact.html" style="color:#878c93;">Contact</a></li>
<li><a href="#" style="color:#878c93;">Coordonnées</a></li>
</ul>
</div>
</div>


<div class="w3-col l4 m4 w3-hide-small">
<h3 class="fh5co-lead w3-margin-top" style="color:#778899;">Conditions</h3>
<div style="margin-left:-19px;" >
<ul>
<li><a href="devente" style="color:#878c93;"> Conditions de vente</a></li>
<li><a href="delocation" style="color:#878c93;">Conditions de location</a></li>
</ul>
</div>





</div>






</div>    




</div>
</div>
</footer>
    