<div class="w3-right menu-mobile" >
<div id="bar" class="w3-bar" style="font-size: 14px;">
{{=A('Acceuil',_href = URL('bienvenue'),_class="w3-bar-item w3-button uppercase w3-hover-border-red w3-hover-mybrown")}}
<div class="w3-dropdown-hover">
<a  id="button" class="w3-button uppercase w3-hover-mybrown">Caftan <i class="fa fa-caret-down"></i></a>
<div id="demo" class="w3-dropdown-content w3-bar-block w3-card-4">
<a href="#" class="w3-bar-item  drown-title">COLLECTION CAFTANS</a>
{{=A('Caftan en location',_href = URL('caftan_en_location'),_class="w3-bar-item caftan  w3-hover-text-mybrown")}}
{{=A('Caftan en vente',_href = URL('caftan_en_vente'),_class="w3-bar-item caftan  w3-hover-text-mybrown")}}
</div>
</div>

<div class="w3-dropdown-hover">
<a id="button1"  class="w3-button uppercase w3-hover-mybrown">Robe de soirée <i class="fa fa-caret-down"></i></a>
<div id="demo1" class="w3-dropdown-content w3-bar-block w3-card-4">
<a href="#" class="w3-bar-item  drown-title">COLLECTION ROBES DE SOIRÉE</a>
{{=A('Robe de soirée en location',_href = URL('robe_de_soiree_en_location'),_class="w3-bar-item caftan  w3-hover-text-mybrown")}}
{{=A('Robe de soirée en vente',_href = URL('robe_de_soiree_en_vente'),_class="w3-bar-item caftan  w3-hover-text-mybrown")}}
</div>
</div>
        
        

<div class="w3-dropdown-hover">
<a id="button2"   class="w3-button uppercase  w3-hover-mybrown">Grande taille <i class="fa fa-caret-down"></i></a>
<div id="demo2" class="w3-dropdown-content w3-bar-block w3-card-4">
<a href="" class="w3-bar-item  drown-title">CAFTAN GRANDE TAILLE</a>
{{=A('Caftan en location',_href = URL('caftan_en_location_grande_taille'),_class="w3-bar-item caftan  w3-hover-text-mybrown")}}
{{=A('Caftan en vente',_href = URL('caftan_en_vente_grande_taille'),_class="w3-bar-item caftan  w3-hover-text-mybrown")}}
</div>
</div>
{{=A('Blog',_href = URL('blog'),_class="w3-bar-item w3-button uppercase w3-hover-mybrown")}}
{{=A('Contact',_href = URL('contact'),_class="w3-bar-item w3-button uppercase w3-hover-mybrown")}}
</div>
</div>

