<div id="baring"  class="w3-bar w3-animate-top" style="display: none;background-color:#816263;color:white;">
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-hover-black w3-border w3-border-white">Acceuil</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-border w3-hover-black w3-border-white">Caftan location</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-border w3-border-white w3-hover-black">Caftan en vente</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-border w3-hover-black w3-border-white">Robe de soirée</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-border w3-hover-black w3-border-white">Robe de soirée en location</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-border w3-hover-black w3-border-white">Robe de soirée en vente</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-border w3-hover-black w3-border-white">Caftan grande taille location</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-border w3-hover-black w3-border-white">Caftan grande taille vente</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-border w3-hover-black w3-border-white">Accessoires</a>
    <a href="#" class="w3-bar-item w3-button w3-mobile w3-border w3-hover-black w3-border-white">Bijoux</a>
  </div>































