<br>
<div class="w3-row w3-center w3-border-top w3-border-bottom w3-margin-left w3-margin-right">
<br>    
<div class="w3-col w3-border-right" style="width:33.33%;margin-top:10px;">
<h3 style="color: #816263;font-size:17px;">
Suivez-nous:
<a class="twitter" href="#" style="margin:auto;" ></a>
<a class="facebook" href="#"></a>
</h3> 
<br>

</div>
<div class="w3-col w3-border-right" style="width:33.33%">
<div class="shipping" >
<img width="30%"  src="http://www.caftanwarda.com/Perla_V6/static/images/shipping.png" alt="">
</div>
<div class="ship" style="font-family: 'PlayfairDisplay-Regular';">
<h3 style="font-size: 18px">Livraison</h3>
<p style="margin-top:0px;" >sous 24h</p>
</div>
</div>
<div class="w3-col" style="width:33.33%">
<div>  
<p>Contact par Tél</p>    
<h3 style="font-size:12px;margin-top:-12px;" >06 65 77 13 40</h3>
</div>





</div>
</div>